@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&display=swap");
/* GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: "Crete Round", sans-serif;
}

.open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  z-index: 101;
  -webkit-animation: opening 1.5s ease forwards;
          animation: opening 1.5s ease forwards;
}

/* === SECTION HEADER === */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

header nav {
  position: fixed;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

header nav figure {
  margin: 1em;
}

header nav ul {
  list-style-type: none;
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

header nav ul:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  border-radius: 5px;
  padding: 10px 40px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
  background-color: #02b8dd;
}

header nav ul li a {
  text-decoration: none;
  font-family: "rotodo", sans-serif;
  font-size: 0.7rem;
  color: #fff;
}

header nav ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #ff7a00;
}

/* === fin de SECTION Header === */
/* === Début du corps de la page (SECTION accroche, titre bienvenu) === */
section#accroche {
  margin-top: 5%;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: url("../img/bg.jpg") no-repeat center bottom;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#accroche p {
  color: #fff;
  text-shadow: 0.06em 0.06em #000000;
  font-size: 2em;
  margin: 0em;
  margin-top: 10%;
  margin-bottom: -2%;
  text-align: center;
  margin-left: -50%;
}

section#accroche h1 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 8em;
  text-shadow: 0.08em 0.08em #000000;
  margin: 0em;
  margin-bottom: 10%;
  text-align: center;
}

/* === fin de SECTION accroche === */
/* === SECTION Stages === */
#sectionstage {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sectionstage article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2%;
  padding: 1%;
}

#sectionstage article .stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  min-width: 500px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-right: 1%;
}

#sectionstage article .stages h3 {
  font-size: large;
  margin-bottom: 0em;
}

#sectionstage article .stages p {
  text-align: left;
  margin: 0em;
  margin-top: 5%;
}

#sectionstage article .stages .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0em;
  margin-top: 5%;
}

#sectionstage article .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1%;
}

#sectionstage article:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#sectionstage article:nth-child(2n) .stages {
  padding-left: 1%;
}

#sectionstage article:nth-child(2n) .player {
  padding-right: 1%;
}

/* === fin de SECTION Stages === */
/* === FOOTER === */
footer {
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #02b8dd;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

footer ul li {
  padding: 10px 40px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
}

footer ul li a {
  text-decoration: none;
  font-family: "rotodo", sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

footer ul li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
}

footer p {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #efefef;
  margin: 0em;
  margin-bottom: 1%;
}

footer .arrowUp {
  color: white;
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 2%;
}
/*# sourceMappingURL=index.css.map */