body{
    background-color: #FFF;
    font-family: serif;
    font-size: 10pt;
}

.container{
    width: 100%;
    border:none;
}

nav, footer, h1, h2, header, img{ /* les élements qui ne sont pas à imprimés, ici je garde volontairement le contenu, logo, ainsi que la phrase d'accroche*/
    display: none
}

h3{
    font-size: 12pt;
    
}

div.button{
    display: none;
}

#accroche p{ /* je met la phrase d'accroche en évidence car cela me parait important au niveau de l'identité*/
    margin: 10px;
    text-align: center;
    font-size: 14pt;
}

#contenu article p{
    margin: 10px;
    text-align: center;
    font-size: 14pt;
}


.wrapper
{
    width: 0px;
    margin: auto;
    padding: 0 10px;
}

#produits article
{
  display :none;
}

